* {
  	box-sizing: border-box;
}

.column {
  	float: left;
	padding: 15px;
  	width: 50%;
  
}

.footer {
  	background-color: #005A6C;
  	padding: 10px;
  	text-align: center;
}

.main {
  	background-color: #fff;
}

.row:after {
  	clear: both;
	content: "";
  	display: table; 
}


body {
	background-color: #005A6C;
 	margin-bottom: 0; 
	margin-top: 0;
}


li {
  	float: left;
}

li a {
	color: #004FB6;
  	display: block;
  	font-size: 20px;
	padding: 14px 16px;
  	text-align: center;
  	text-decoration: none;
}

li a:hover {
  	background-color: #FFC100;
  	color: #00359D;
}

ul {
	background-color: #FFD900;
 	list-style-type: none;
 	margin: 0;
  	overflow: hidden;
	padding: 0;
  
}

